<a href="https://colab.research.google.com/github/CodexJoe/CodexJoe/blob/main/Copy_of_OneForTheRoad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Wirte a Function for Mean
def Mymean(*numb): # This axteris * was included because the arguments can be of any length; in this case values can be of any range. 
  Sum = 0
  for i in numb:
    Sum += i
  return Sum/len(numb)

Mymean(5,6,4)

5.0

In [ ]:
import numpy as np
# Given an array of numbers, print the elements in the array if the elements are greater than 2.

my_array = np.array([[1,2,3,4], [5,6,7,8]])
for i in my_array:
  #print(i) #testing rows in the array 
  for j in i:
    #print(j) Test elements in the array
    if j > 2:
      print(j)

3
4
5
6
7
8

In [ ]:
#  Given a string x, find the length of the longest substring without repeating characters.
# Input: x = 'chibcyddcc'
# Output: 6

x = 'chibcyddcc'
output_str = '' # Be careful not to include space inbetween the parenthesis
for i in x:
  if i not in output_str:
    output_str += i
print(len(output_str))

6

In [ ]:
# Given a pandas data-frame of intergers, with m rows and n columns, 
# if an element in the data-frame is 0, set its entire row and column to 0's.

# print(DFP) #Code Testing

In [1]:
import pandas as pd

DF = { 'First' : [1,6,11,10],
      'Second': [2,7,12,7],
      'Third': [3,0,14,8],
      'Forth': [4,4,17,19]}

DFP = pd.DataFrame(DF)
DFP

   First  Second  Third  Forth
0      1       2      3      4
1      6       7      0      4
2     11      12     14     17
3     10       7      8     19

In [2]:
for j in DFP.index:
  #print(j)
  for i in DFP:
      #print(i)
      if DFP[i][j] == 0:
        #print([i],[j])
        DFP[i] = 5
        DFP.loc[j] = 5
      #break
  #break

      
    
    #if DFP[i][j] == 0:
        #DFP.loc[j] = 0
        #DFP[i] = 0
        
        #break
    #break
  #break
     # DFP.loc[j] = 0
      
      
    
      
      
      
DFP

   First  Second  Third  Forth
0      1       2      5      4
1      5       5      5      5
2     11      12      5     17
3     10       7      5     19

In [ ]:
# for i in DFP:
#   print(i)
#   for j in DFP.index:
#      print(j)
#   break
# #     if DFP[i][j] == 0:
# #       DFP.iloc[j] = 0
# #       DFP[i] = 0
      
# #       break

# # DFP

First
0
1
2
3