<a href="https://colab.research.google.com/github/CodexJoe/CodexJoe/blob/main/data_cleaning_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd, numpy as np 
import sklearn.preprocessing as sk

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

my_exam_data = pd.DataFrame(exam_data)
my_exam_data.index = labels
print(my_exam_data.isna().sum())
my_exam_data['score'].fillna(14, inplace = True)
my_exam_data['attempts'].fillna(2, inplace = True)
my_exam_data['qualify'].fillna('yes', inplace = True)
one_hot = pd.get_dummies(my_exam_data['qualify'])
my_exam_data = my_exam_data.drop('qualify', axis = 1)
my_exam_data = my_exam_data.join(one_hot)
print(my_exam_data)

name        0
score       2
attempts    1
qualify     1
dtype: int64
        name  score  attempts  no  yes
a  Anastasia   12.5       1.0   0    1
b       Dima    9.0       3.0   1    0
c  Katherine   16.5       2.0   0    1
d      James   14.0       3.0   1    0
e      Emily    9.0       2.0   1    0
f    Michael   20.0       3.0   0    1
g    Matthew   14.5       1.0   0    1
h      Laura   14.0       1.0   1    0
i      Kevin    8.0       2.0   0    1
j      Jonas   19.0       1.0   0    1
k      Elias   20.0       3.0   0    1
l     Myriam   16.0       2.0   0    1