<a href="https://colab.research.google.com/github/CodexJoe/CodexJoe/blob/main/GMC_DQL_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objective
We have the following relational model created. Now we are going to write SQL queries to retrieve data from these tables  using DQL language:

CUSTOMER ( Customer_id, Customer_Name, Customer_Tel )
PRODUCT ( Product_id, Product_Name, Category, Price )
ORDERS ( #Customer_id, #Product_id, Orderdate, Quanatity, Total_amount )


Instructions
Write SQL commands to:

1. Display all the data of customers
2. Display the product_name and category for products whose price is between 5000 and 10000
3. Display all the data of products sorted in descending order of price.
4. Display the total number of orders, the average amount, the highest total amount, and the lower total amount
5. For each product_id, display the number of orders
6. Display the customer_id which has more than 2 orders
7. For each month of 2020 year, display the number of orders
8. For each order, display the product_name, the customer_name, and the date of the order
9. Display all the orders made three months ago
10. Display customers (customer_id) who have never ordered a product. 


**SOLUTIONS**

(1)  SELECT * FROM CUSTOMER;

(2)  SELECT product_name, Category FROM Product WHERE Price BETWEEN 5000 AND 10000; 

(3) SELECT * FROM Product ORDER BY Price DESC;

(4)  SELECT SUM(quantity), AVG(total_amount), MAX(total_amount),  MIN(total_amount) FROM Orders;

(5)  SELECT product_id, COUNT(quantity) FROM Orders 
 GROUP BY product_id;

(6)   SELECT customer_id, COUNT(quantity) from orders 
 GROUP BY customer_id 
 HAVING COUNT(quantity) > 2;

(7)   SELECT * FROM 
`  (SELECT quantity, MONTH(OrderDate) as Months,
   COUNT(MONTH(OrderDate)) as Order_Frequency
  FROM orders as inner_Table
  GROUP BY MONTH(OrderDate) ) as Outer_table
 WHERE YEAR(OrderDate) = 2020;

(8)   SELECT product_name, customer_Name, OrderDate from orders
 INNER JOIN product
 ON Orders.product_id = Product.product_id
 INNER JOIN customer
 ON Orders.custmer_id = customer.customer_id;

(9)   SELECT  * FROM 
  (SELECT * from orders as inner_table
  WHERE MONTH(purchase_date) = MONTH(now()) -3)  
 AS outer_table WHERE YEAR(purchase_date) = YEAR(now()); 

(10)  SELECT customer.customer_id FROM customer
 LEFT JOIN Orders
 ON customer.customer_id = Orders.customer_id
 WHERE Orders.customer_id is NULL;