<a href="https://colab.research.google.com/github/CodexJoe/CodexJoe/blob/main/GMC_PythonFinalCheckPoint1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1. Display numbers from -10 to -1 using for loop

In [1]:

for i in range(-10, 0): #This loops from -10 to -1
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

QUESTION 2. Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5

In [3]:

count = 1
X = str(input())#This cast X as string
for i in range(len(X)): #This is loops through X
  count= i + 1 #since first iteration is counted as zero, one was added to the accurate number
  
print(count)

4355
4

QUESTION 3. Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8

In [19]:

def Cube(x):#A function named Cube was created0

  C = x**3 # This performs the cubic operation
  return C

Cube(int(input('Enter a Number: '))) #Calling the function

Enter a Number: 4

64

QUESTION 4. Given two integer numbers return their product. If the product is greater than 1000, then return their sum

In [21]:



def MulSum(x, y):#A function called MulSum is created
  P = x*y #This perfomrs the product operation
  if P > 1000: #This checks if product is greated than 1000
    return (x+y) # The summation operation was performed for meeting above condition
  else:
    return P # Product is returned for not meeting the above condition

MulSum(10, 50) # The function was called here

500

QUESTION 5. Given a list of numbers, return True if first and last number of a list is same

In [26]:

MyLis = list(input('Please put number here: ')) #Accepts an input casted as list from the user

if MyLis[0] == MyLis[-1]: # Checks if first number is the same as last number
    print(True) #Prints True for meeting above condition

Please put number here: 45674
True

QUESTION 6. Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list, for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]

In [30]:

list1 =  [10, 20, 23, 11, 17] 
list2 = [13, 43, 24, 36, 12]
List3 = [] #creating an empty list that will hold the new list
for i in range(len(list1)):
  if list1[i]%2 != 0:#This checks for the first condition
    List3.append(list1[i])#adds the items in list1 that fullfills the first condition into the new list
for i in range(len(list2)): 
  if list2[i]%2 == 0:# This checks for the second condition
    List3.append(list2[i])#adds the items in list2 that fullfills the first condition into the new list

print(List3)

[23, 11, 17, 24, 36, 12]

QUESTION 7. Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element, for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [37]:

Y =  [11, 45, 8, 11, 23, 45, 23, 45, 89]
from collections import Counter # Counter function is used in performing this operation; hence it was imported from collections module
Z= Counter(Y) # This line of code perform the operation on Y
print(Z)

Counter({45: 3, 11: 2, 23: 2, 8: 1, 89: 1})

QUESTION 8. Write a function which finds the intersection of two sets and removes common elements from the first set. for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}

In [36]:

SetA = {65, 42, 78, 83, 23, 57, 29} 
SetB = {67, 73, 43, 48, 83, 57, 29} 
SetC = SetA & SetB # This operation gets the intersect between SetA and SetB
print("The intersect of SetA and SetB is: ", SetC)
SetD = SetA - SetC # This operation gets the elements in SetA but not in SetB
print("This operation gets the elements in SetA but not in SetB are: ", SetD)

The intersect of SetA and SetB is:  {57, 83, 29}
This operation gets the elements in SetA but not in SetB are:  {65, 42, 78, 23}